img {
    width: 376px;
    /* Largeur fixe de l'image */
    height: 211px;
    /* Hauteur fixe de l'image */
    object-fit: cover;
    /* Assure que l'image remplit l'espace sans déformation */
    margin-bottom: 20px;
    /* Marge en bas de l'image pour espacer du texte */
}

.section {
    margin-bottom: 100px;
    /* Marge entre les sections */
}

.btn-primary {
    margin-bottom: 200px;
}
