

/* Style pour les titres */
h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

/* Espacement des sections */
section {
    margin-bottom: 60px;
}

/* Style des images */
img {
    width: 200px;
    /* Largeur fixe de l'image */
    height: 200px;
    /* Hauteur fixe de l'image */
    object-fit: cover;
    /* Assure que l'image remplit l'espace sans déformation */
    margin-bottom: 20px;
    /* Marge en bas de l'image pour espacer du texte */
}
