body {
    background-color: blanchedalmond;
}


.navbar-custom {
    background: linear-gradient(90deg, rgb(252, 151, 20), rgb(255, 0, 0));
    /* Dégradé rouge à gauche vers jaune à droite */
}

.btn-custom {
    background-color: orangered;
    /* Pour l'outline, il faut que le fond soit transparent */
    color: black;
    /* Couleur du texte */
    border: 1px solid black;
    /* Bordure pour l'outline */
}

.btn-custom:hover {
    background-color: #e6e6e6;
    /* Couleur de fond au survol */
    color: black;
}


.content-wrapper {
    padding: 20px;
}

.image-left {
    max-width: 100%;
    height: auto;
}

nav {
    margin-bottom: 5%;
}

.notre-pays {
    margin-top: 100px;
}

.navbar-flag {
    width: 100px;
    height: 80px;
    object-fit: contain;
    /* Assure que le drapeau ne soit pas déformé */
    margin-bottom: 0;
    /* Pas de marge en dessous */
}